extends layout
tripId: e.trip_id,
          userId: e.user_id,
          startTime: start,
          endTime: end,
          duration: end.diff(start, 'milliseconds'),
          name: e.name
block content
  div.ui.purple.main.menu
    a.active.item(data-tab="settings") Settings
    a.item(data-tab="map") Map
    a.item(data-tab="graphs") Graphs
    a.item(data-tab="tables") Tables
  div.ui.active.tab.segment(data-tab="settings")
    table#tripTable.ui.table.segment.tablesorter.filterTable
      thead
        tr
          th Trip ID
          th User ID
          th Start Time
          th End Time
          th Duration
          th Name
          th
      tbody
        each trip in trips
          tr(data-id=trip.tripId)
            td.showTrip= trip.tripId
            td.showTrip= trip.userId
            td.showTrip= trip.startTime
            td.showTrip= trip.endTime
            td.showTrip= trip.duration
            td.tripName
              a(href="#" id="trip.name" pk="#{trip.tripId}" url="/trips") #{trip.name}
            td.deleteTrip
              a(href="/trips/#{trip.tripId}/delete") ✗
    div.row
        div.column
        div.column
          div.ui.purple.button#showBtn Show
  div.ui.tab.segment(data-tab="map")
    div.ui.vertical.segment
      div.ui.two.column.grid
        div.row
          div.column
            h1.ui.header Map
          div.column
            div.ui.floating.fluid.selection.dropdown#route
              div.text Routes
              i.dropdown.icon
              div.menu#routeMenu
      div.plot#domMap  
  div.ui.tab.segment(data-tab="graphs")
    div.ui.vertical.segment
      h1.ui.header Accelerometer
      div.ui.two.column.grid
        div.column
          h5.ui.header Showing 
            span#accLabel
        div.column
          h5.ui.header.metaLabel
      div.ui.purple.button.resetZoom Reset Zoom
      div.ui.button.saveWindow Save Window  
      div.plot#accPlot
    div.ui.vertical.segment
      h1.ui.header Linear Acceleration
      div.ui.two.column.grid
        div.column
          h5.ui.header Showing 
            span#lacLabel
        div.column
          h5.ui.header.metaLabel
      div.ui.purple.button.resetZoom Reset Zoom
      div.plot#lacPlot
    div.ui.vertical.segment
      h1.ui.header Gravity
      div.ui.two.column.grid
        div.column
          h5.ui.header Showing 
            span#graLabel
        div.column
          h5.ui.header.metaLabel
      div.ui.purple.button.resetZoom Reset Zoom
      div.plot#graPlot
  div.ui.tab.segment(data-tab="tables")
    div.ui.vertical.segment
      h1.ui.header Tags
      table.ui.celled.purple.inverted.two.column.table.segment#tags
        thead
          tr
            th Timestamp
            th Tag
        tbody
  div.ui.small.modal
    i.close.icon
    div.header Save Training Data
    div.content
      div.left
        div.ui.fluid.input
          input(type="text",placeholder="Tag")#newTag
      div.right
    div.actions
      div.ui.positive.labeled.button#acceptSave Save